h1{
    text-align: center;
     color: white;
 }
 
 body {
 
     background-color: blue;
     text-align: center;
     background: radial-gradient(#dfd9d9, #1f2cc4);
 }
 p {
 
     color:white;
 }
  img {
 
       width: 100px;
       height: 100px;
       text-align: center;
  }
    h2 {
          color: white;
         text-align: center;
    }
    a {
 
        color: white;
    }
nav a{
    border: 1px solid white;
    border-radius: 3px;
    font-size: 20px;
}
h1:hover{
    transition:3s ;
    font-size: 40px;
    color:radial-gradient(circle, rgba(0,1,0,1) 0%, rgba(43,20,87,1) 26%, rgb(21, 42, 147) 100%);
  
  }

  h2:hover{
    transition:3s ;
    font-size: 35px;
    color:radial-gradient(circle, rgba(0,1,0,1) 0%, rgba(43,20,87,1) 26%, rgba(202,24,233,1) 100%);
  
  }
  p:hover{
    transition:1s;
    box-shadow: 10px 10px 10px white;
  }
  iframe:hover{
    width: 350px;
    width: 350px;
  }
  nav a:hover{
    background-color:white;
    color:blue;
    transition:1s;
  }
  footer p{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
  }
